header {
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
}

canvas {
	position: absolute;
	top: 120px;
	left: 10px;
}

#gamepad {
	display: none;
	position: absolute;
	top: 120px;
	left: 10px;
}

footer {
	display: block;
	position: absolute;
	top: 500px;
	left: 10px;
	padding-bottom: 30px;
}

footer small {
	display: block;
	margin: 0;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
}